@charset "UTF-8";

#article_wrap {
	width: 1000px;
}

#top_article_wrap {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.top_article {
	width: 300px;
	display: flex;
	flex-flow: column;
	gap: 5px;
	cursor: pointer;
}

.top_thumbnail {
	overflow: hidden;
	border-radius: 5px;
	width: 100%;
	height: 200px;
}

.top_thumbnail > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: 0.2s;
}

.top_writing {
	text-align: left;
	margin-top: 5px;
	font-size: 14px;
	color: #407FBA;
}

.top_title {
	text-align: left;
	display: inline-block;
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    transition: 0.2s;
    font-size: 18px;
}

.top_article:hover .top_title {
    text-decoration: underline;
}

.top_article:hover .top_thumbnail img {
    transform: scale(1.05);
}

.line {
	width: 100%;
	height: 1px;
	background: #e0e6ec;
	margin-top: 30px;
}

.article {
	width: 100%;
	display: flex;
	margin-top: 30px;
	justify-content: space-around;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid #e0e6ec;
    padding-bottom: 30px;
}

.article_thumbnail {
	overflow: hidden;
	width: 106px;
    height: 72px;
    border: 1px solid #e0e6ec;
}

.article_thumbnail > img {
	width: 100%;
	object-fit: cover;
	transition: 0.2s;
}

.article_info {
	text-align: left;
    width: 800px;
}

.article_title {
	font-size: 18px;
	font-weight: 500;
}

.article_content {
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}

.article_writer {
	color: #407FBA;
	font-size: 14px;
}

.article_time {
	font-size: 14px;
	color: #B5C2CF;
}

.article:hover .article_title {
    text-decoration: underline;
}

.article:hover .article_thumbnail img {
    transform: scale(1.05);
}

#paging_wrap {
	margin-top: 30px;
	margin-bottom: 50px;
	display: flex;
	gap: 5px;
	justify-content: center;
}

.btn_paging {
	width: 30px;
	height: 30px;
	border: 1px solid #B5C2CF;
	background: #fff;
	color: #717A84;
	font-weight: 400;
	cursor: pointer;
}

.btn_paging.current {
	width: 30px;
	height: 30px;
	border: 1px solid #407FBA;
	background: #407FBA;
	color: #fff;
	font-weight: 400;
}