@charset "UTF-8";
#plus_content{
	width: 156px;
	height: 32px;
	margin-top: 40px;
	margin-bottom: 56px;
}

#plus_content .contetn_btn{
	width: 156px;
	height: 32px;
	position: absolute;
	right: 250px;
	background-color: #FFFFFF;
	border: 1px solid #717A84;
	border-radius: 5px;
}

.img_box {
	width: 210px;
	height: 200px;
}

.img_box img {
	width: 200px;
	height: 110px;
	border-radius: 10px;
}

.img_box p {
	width: 220px;
	height: 36px;
}