<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">

	<select id="searchId" parameterType="String" resultType="memberVO">
		select id from member where id = #{id}
	</select>
	
	<select id="searchNick" parameterType="String" resultType="memberVO">
		select nickname from member where nickname = #{nickname}
	</select>
	
	<insert id="signUp" parameterType="memberVO">
		insert into member values (null, #{id}, #{pw}, #{name}, #{birth}, #{gender}, #{email}, #{tel}, #{nickname}, null, current_timestamp, 1)
	</insert>
	
</mapper>











