<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="qna">

	<insert id="qnaInsert" parameterType="qnaVO">
		insert into qna
		(member_no, title, content, category)
		values(#{memberNo}, #{title}, #{content}, #{category});
	</insert>
	
	<select id="qnaList" resultType="qnaVO">
		select * from qna order by `date` desc
	</select>
	
	<select id="qnaDetail" resultType="qnaVO" parameterType="Integer" >
		select * from qna where qna_id = #{qnaId}
	</select>
	
	<update id="qnaUpdate" parameterType="qnaVO">
		update qna set title = #{title}, content = #{content}, category = #{category} where qna_id = #{qnaId}
	</update>
	
	<delete id="qnaDelete" parameterType="qnaVO">
		delete from qna where qna_id = #{qnaId}
	</delete>

</mapper>











